@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Ukraine, Kiev<br />
    Aleksandr Gomeniuk<br />
    <abbr title="Phone">P:</abbr>
    050-387-09-11
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Aleksandr.Gomeniuk@yahoo.com">Aleksandr.Gomeniuk@yahoo.com</a><br />
</address>
